<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='stylesheet' href='../../stylesheets/style.css'>
      <title>My Dev Skills</title>
  </head>
  <body>
    <nav>
      <a href="/" class="navlink">Home</a> | <a href="/skills" class="navlink">Skills</a>
    </nav>
    <section>
      <h2>Edit Skill</h2>
      <br>
      <form action="/skills/<%= idx %>?_method=PUT" method="POST" autocomplete="off" id="edit-skill">
        <input type="text" name="skill" value="<%= skill.skill %>">
          <br>
          <div class="switch">
            <input id="switch-1" type="checkbox" name="master" class="switch-input" <%= skill.master ? 'checked' : '' %>>
            <label for="switch-1" class="switch-label">Switch</label>
          </div>
        <br>
        <br>
        <button type="submit">Update</button>
      </form>
    </section>
  </body>
</html>