<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='stylesheet' href='../../stylesheets/style.css'>
      <title>My Developer Skills</title>
  </head>
  <body>
      <nav>
        <a href="/" class="navlink">Home</a> | <a href="/skills" class="navlink">Skills</a>
      </nav>
      <section>
        <h2>Skills</h2>
          <div id="skills-list">
            <ul>
              <% skills.forEach( (s, idx) => { %>
                <li>
                  <form action="/skills/<%= idx %>?_method=DELETE" class="delete-form" method="POST">
                    <button type="submit" class="delete">X</button>
                  </form>
                  <a href="/skills/<%=idx%>"><%= s.skill %></a>
                  - 
                  <%= s.master ? 'Mastered' : 'Not Mastered' %>
                </li>
              <% }); %>
            </ul>
            <br>
          </div>
          <div id="add">
            <a href="/skills/new">Add</a>
          </div>
      </section>
  </body>
</html>