<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='stylesheet' href='../../stylesheets/style.css'>
      <title>Dev Skills Tracker</title>
  </head>
  <body>
    <nav>
      <a href="/" class="navlink">Home</a> | <a href="/skills" class="navlink">Skills</a>
    </nav>
    <section>
      <h2>New Skill</h2>
      <br>
      <form action="/skills" method="POST" autocomplete="off">
          <input type="text" spellcheck="false" name="skill">
          <br>
          <br>
          <button type="submit">Save</button>
      </form>
    </section>
  </body>
</html>