<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../../stylesheets/style.css'>
    <title>Dev Skills Tracker</title>
  </head>
  <body>
    <nav>
      <a href="/" class="navlink">Home</a> | <a href="/skills" class="navlink">Skills</a>
    </nav>
    <section>
      <h2>Skill #<%= skillNum %></h2>
      <br>
      <h3><%= skill.skill %></h3>
      <h4>Mastered? <%= skill.master ? 'Yes' : 'No' %></h4>
      <br>
      <a href="/skills/<%= skillNum - 1 %>/edit">Edit</a>
    </section>
  </body>
</html>