<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../../stylesheets/style.css'>
  </head>
  <body>
    <nav>
      <a href="/" class="navlink">Home</a> | <a href="/skills" class="navlink">Skills</a>
    </nav>
    <section>
      <h1><%= title %></h1>
      <br>
      <a href="/skills">My Developer Skills</a>
    </section>
  </body>
</html>
