<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta property="og:title" content="Dev Skills Tracker" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://express-dev-skills.herokuapp.com/" />
    <meta property="og:image" content="https://i.imgur.com/rLNDw6P.png" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' href='../../stylesheets/style.css'>
  </head>
  <body>
    <nav>
      <a href="/" class="navlink">Home</a> | <a href="/skills" class="navlink">Skills</a>
    </nav>
    <section>
      <h1><%= title %></h1>
      <br>
      <a href="/skills">View Skills</a>
    </section>
  </body>
</html>