* {
  margin: 0;
  padding: 0;
  }

body {
  font: 14px "Futura", Arial, sans-serif;
  background: rgb(55,55,55);
  background: radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(100,100,100,1) 0%, rgba(55,55,55,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 8px;
  color: rgba(255,255,255,1);
  font-size: 28px;
}

h2 {
  margin: 8px;
  color: rgba(255,255,255,1);
  font-size: 20px;
}

h3 {
  margin: 3px;
  color: rgba(253,29,29,1);
  font-size: 16px;
}

h4 {
  line-height: 0px;
  padding: 8px;
  margin: 4px;
  color: rgba(1,1,1,1);
  font-size: 14px;
}

a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgba(252,176,69,1);
  font-weight: bold;
}

a:hover {
  color: rgba(253,29,29,1);
}

div {
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgba(252,176,69,1);
  color: rgb(55,55,55);
  border: none;
  outline: none;
  height: 25px;
  width: 50px;
  font-weight: bold;
  font-size: 12px;
}

button:hover {
  background-color: rgba(253,29,29,1);
  color: rgba(255,255,255,1);
  border: none;
  outline: none;
  height: 25px;
  width: 50px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.delete-form {
  display: inline-block;
}

.delete-form button {
  background-color: rgba(253,29,29,1);
  color: rgba(253,29,29,1);
  border: none;
  width: 13px;
  height: 13px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 8px;
  line-height: 13px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  outline: none;
}

.delete-form button:hover {
  background-color: rgba(253,29,29,1);
  color: rgba(255,255,255,1);
}

li {
  list-style: none;
}

section {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
}

nav {
  background: rgba(252,176,69,1);
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
  width: 100%;
  color: rgba(55,55,55,1);
  font-weight: bold;
}

.navlink {
  font-weight: bold;
  text-decoration: none;
  color: rgba(55,55,55,1);
  font-size: 15px;
}

.navlink:hover {
  color: rgba(252,176,69,1);
  cursor: pointer;
}