* {
  margin: 0;
  padding: 0;
  }

body {
  font: 14px "Futura", Arial, sans-serif;
  background: rgb(55,55,55);
  background: radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(100,100,100,1) 0%, rgba(55,55,55,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 8px;
  color: rgba(255,255,255,1);
  font-size: 28px;
}

h2 {
  margin: 8px;
  color: rgba(255,255,255,1);
  font-size: 20px;
}

h3 {
  margin: 3px;
  color: rgba(253,29,29,1);
  font-size: 16px;
}

h4 {
  line-height: 0px;
  padding: 8px;
  margin: 4px;
  color: rgba(1,1,1,1);
  font-size: 14px;
}

a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgba(252,176,69,1);
  font-weight: bold;
}

a:hover {
  color: rgba(253,29,29,1);
}

#skills-list {
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
}

.switch-input {
  display: none;
}

.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}

.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.switch-input:checked + .switch-label::before {
  background: rgb(59,180,58);
  background: linear-gradient(90deg, rgba(59,180,58,1) 0%, rgba(231,253,29,1) 100%);
}

.switch-input:checked + .switch-label::after {
  left: 24px;
}

#edit-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  height: 40px;
  width: 200px;
  text-align: center;
  outline: none;
  border-width: 3px;
  border: rgba(253,29,29,1);
  border-style: solid;
  background-color: rgb(219, 219, 219);
  font: 14px "Futura", Arial, sans-serif;
  border-radius: 20px;
}

input:hover {
  border: rgba(252,176,69,1);
  border-width: 3px;
  border-style: solid;
}

input:focus {
  border: rgb(59,180,58);
  border-width: 3px;
  border-style: solid;
}

.delete {
  font: 14px "Futura", Arial, sans-serif;
  background: rgba(253,29,29,1);
  border: none;
  outline: none;
  height: 25px;
  width: 60px;
  font-weight: bold;
  font-size: 7px;
}

.delete:hover {
  background: rgba(253,29,29,1);
  color: rgba(255,255,255,1);
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 7px;
  cursor: pointer;
}

button {
  font: 14px "Futura", Arial, sans-serif;
  background: rgba(252,176,69,1);
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
  color: rgb(55,55,55);
  border: none;
  outline: none;
  height: 25px;
  width: 60px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 20px;
}

button:hover {
  background: rgb(59,180,58);
  background: linear-gradient(90deg, rgba(59,180,58,1) 0%, rgba(231,253,29,1) 100%);
  color: rgb(55,55,55);
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.delete-form {
  display: inline-block;
}

.delete-form button {
  background: rgba(253,29,29,1);
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 100%);
  color: rgba(253,29,29,0);
  border: none;
  width: 13px;
  height: 13px;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  outline: none;
}

.delete-form button:hover {
  background: rgba(253,29,29,1);
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgb(255, 91, 91) 100%);
  color: rgba(255,255,255,1);
}

li {
  list-style: none;
}

section {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
}

nav {
  background: rgba(252,176,69,1);
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
  width: 100%;
  color: rgba(55,55,55,1);
  font-weight: bold;
}

.navlink {
  font-weight: bold;
  text-decoration: none;
  color: rgba(55,55,55,1);
  font-size: 15px;
}

.navlink:hover {
  color: rgba(252,176,69,1);
  cursor: pointer;
}